@import '../../scss/variables.scss';

.Navbar{
  @include flex-raw-between;
  background: $color-main-background;
  width: 100%;
  border-bottom: solid 4px $color-text-primary;
  position: sticky;
  top: 0;
}

.list{
  @include flex-raw-between;
  align-items: center;
  width: 100%;

  &__item {
    text-decoration: none;
    @include flex-raw-between;
    color: $color-text-secondary;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: $font32;
    gap: 10px;

    @media screen and (max-width: 1700px)  {
      font-size: $font18;
    }

    @media screen and (max-width: 1200px)  {
      font-size: $font12;
      gap:5px;
    }

    @media screen and (max-width: 1000px)  {
      font-size: $font10;
    }

    @media screen and (max-width: 760px)  {
      font-size: $font8;
      padding: 1px;
      gap: 2px;
    }

    &__text{
      @media screen and (max-width: 500px)  {
        display: none;
      }
    }
  }
}

.list__Activeitem {
  @extend .list__item;
  background: $color-second-background;
  color: #000000;
  font-weight: bold;
  border-bottom: solid 2px $color-text-primary;
}