@import '../../scss/variables.scss';

.Navbar{
  @include flex-raw-between;
  background: $color-main-background;
  width: 100%
}

.list{
  @include flex-raw-between;
  align-items: center;
  width: 100%;

  &__item {
    text-decoration: none;
    @include flex-raw-between;
    color: $color-text-secondary;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: $font32;
    gap: 10px;
  }
}

.list__Activeitem {
  @extend .list__item;
  background: $color-second-background;
  color: #000000;
  font-weight: bold;
}