@import '../../scss/variables.scss';

.icon {
    font-size: $font40;

    @media screen and (max-width: 1200px)  {
      font-size: $font18;
    }

    @media screen and (max-width: 760px)  {
      font-size: $font8;
    }

    @media screen and (max-width: 500px)  {
      font-size: $font4;
    }
}